<a class='card-author-mini' href='{{ url }}'>
  {{#if profile_image}}
    <div class='card-author-mini__media'>
      <img class='card-author-mini__image lazyload' data-src='{{ img_url profile_image size='sm' }}' alt='' width='64' height='64'>
    </div>
  {{/if}}

  <div class='card-author-mini__content'>
    <h3 class='card-author-mini__name'>{{ name }}</h3>
    <p class='card-author-mini__bio'>{{ bio }}</p>
  </div>
</a>