{{!< default}}

{{#post}}

<div class='archive'>
  <img src="{{img_url feature_image}}" alt="{{ title }}" />
  <h1 class='archive__title'>{{ title }}</h1>
</div>

<div class='o-grid'>
  {{#get 'tags' limit='all' include='count.posts' order='count.posts desc'}}
    {{#foreach tags}}
      {{> card-tag }}
    {{/foreach}}
  {{/get}}
</div>

{{/post}}