<!doctype html>
<html lang='{{ @site.locale }}'>

  {{> head }}

  <body class='{{ body_class }}'>
    {{> sprites}}

      <div class='site-container'>
        {{> header }}
        {{> tags-list }}
        {{> layout }}
        {{> footer }}
      </div>

    <script src='{{ asset 'js/app.min.js' }}'></script>
    {{ ghost_foot }}
  </body>
</html>
