{{!< default}}

{{#post}}

<article class='{{ post_class }}'>
  {{> post-header }}

  <section class='content'>
    {{ content }}
  </section>

  {{!-- If the page is published for subscribers and paid members and the visitor is not one of those, show the upgrade box --}}
  {{#unless access}}
    {{> page-upgrade-cta }}
  {{/unless}}
  <hr>
</article>

{{/post}}