// *----------------------------------*\
//  Settings > Breakpoints
// *----------------------------------*/
// Breakpoints configs for SassMQ
//
// Example usage:
//
// @include mq($from: tablet) {}
$small-mobile: 400px;
$mobile: 600px;
$tablet: 800px;
$small-desktop: 1020px;
$desktop: 1000px;
