// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

:root {
  --color-brand:     #0297f6;
  --color-hover:     #40cebb;
  --color-white:     #FFFFFF;
  --color-dark:      #414d5a;
  --color-text:      #414d5a;
  --color-gray:      #687385;
  --color-error:     #bf616a;
  --color-success:   #a3be8c;
  --color-border:    #EAECEE;
  --header-color:    #4e576a;
  --color-nav-link:  #6c768b;
  --color-inline-code: #3e6c97;

  --bg-gray:         #F5F7F9;
  --bg-gray-darker:  #EDEFF1;
  --bg-dark:         #12245A;
  --bg-white:        #f4f8fb;

  --color-code-inline: var(--color-inline-code);
  --bg-tag-list:       linear-gradient(to left, var(--bg-white), rgba(255, 255, 255, 0));
}

// Theme colors
$theme-color: #0297f6;
$hover-color: #40cebb;
$bg-white: #f4f8fb;

// Font colors
$header-color: #4e576a;
$body-color: #414d5a;
$secondary-font-color: #4d525d;
$text-color-light: #494e59;
$light-header-color: #6c7888;

// Form colors
$color-error: #bf616a;
$color-success: #a3be8c;

// Social colors
$facebook-color: #3b5998;
$medium-color: #000;
$twitter-color: #53b6d8;
$google-color: #dc4a38;
$linkedin-color: #4875B4;
$github-color: #000;
$rss-color: #ff6501;
$reddit-color: #ff4500;
$pocket-color: #e55e6f;
