// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

:root {
  --color-brand:   #0297f6;
  --color-white:   #FFFFFF;
  --color-dark:    #414d5a;
  --color-text:    #414d5a;
  --color-gray:    #687385;
  --color-error:   #bf616a;
  --color-success: #a3be8c;
  --color-border:  #EAECEE;
  --header-color:  #4e576a;

  --bg-gray:         #F5F7F9;
  --bg-gray-darker:  #EDEFF1;
  --bg-dark:         #12245A;
  --bg-white:        #f4f8fb;

  --color-code-inline: var(--color-text);
  --bg-tag-list:       linear-gradient(to left, var(--bg-white), rgba(255, 255, 255, 0));
}
