// *----------------------------------*\
//  Settings > Global
// *----------------------------------*/

$global-transition: 500ms;
$global-faster-transition: .26s;
$global-border-radius: 2px;
$global-letter-spacing: .5px;

$global-shadow: 0 1px 4px rgb(39 44 49 / 15%);
