/*------------------------------------*\
  Components > Alerts
\*------------------------------------*/

.alert {
  font-weight: $type-500;
  font-size: $type-xs;
  line-height: $type-xs-lh;
  text-align: center;
  margin-top: $space-8;
  padding: $space-8 $space-16;
  background-color: var(--bg-white);
  border-radius: $global-border-radius;

  &:empty {
    display: none;
  }
}

.alert--success {
  color: var(--color-success);
}

.alert--invalid {
  color: var(--color-error);
}

.alert--error {
  color: var(--color-error);
}