/*------------------------------------*\
  Components > Footer
\*------------------------------------*/
.footer {
  width: 100%;
  justify-content: space-around;
  padding: $space-40 0;
  border-top: 0.5px solid var(--color-border);
  background-color: white;
  margin: $space-40 auto 0;
  @media (max-width: 1000px) {
    padding: $space-40;
  }

  .o-grid {
    justify-content: space-between;
    padding: 0 !important;
  }

  .footer-section {
    max-width: 27%;
    @media (max-width: 800px) {
      max-width: unset;
      margin-bottom: 40px;
    }

    &.newsletter {
      min-width: 250px;
    }
  }

  .footer-title {
    color: $header-color;
    font-family: $header-font-secondary;
    font-size: 16px;
    text-transform: uppercase;
    text-rendering: optimizelegibility;
  }

  &__section:not(:last-child) {
    @include mq($until: desktop) {
      margin-bottom: $space-16;
      padding-bottom: $space-16;
    }
    @include mq($until: tablet) {
      margin-bottom: $space-24;
      padding-bottom: $space-24;
      border-bottom: 0.5px solid var(--color-border);
    }
  }

  .footer-description {
    font-size: 16px;
    line-height: 1.4;
  }

  .footer-logo {
    width: 220px;
    margin-bottom: 20px;
  }

  &__headline {
    margin-bottom: $space-16;
    font-size: $type-sm;
    font-weight: $type-500;
    letter-spacing: $global-letter-spacing;
    line-height: $type-sm-lh;
    text-transform: uppercase;
  }

  &__copyright {
    color: var(--color-gray);
    text-align: center;
    @include mq($from: tablet) {
      margin-top: $space-32;
      padding-top: $space-16;
      border-top: 0.5px solid var(--color-border);
    }

    a {
      color: var(--color-gray);
      transition: color $global-faster-transition;
      @include attention() {
        color: var(--color-brand);
      }
    }
  }
}

.footer-list {
  li {
    margin: 0;
  }

  a {
    display: block;
    margin-bottom: half($space-8);
    padding: 0 0 half($space-8);
    font-weight: $type-400;
    line-height: $type-sm-lh;
    font-size: .95em;
    transition: color $global-faster-transition ease-in-out;
    text-rendering: optimizelegibility;
    color: $body-color;
    @include attention() {
      color: $theme-color;
    }
  }
}
