/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.header {
  position: relative;
  padding: 20px 0;
  background-color: var(--bg-white);
  border-bottom: .5px solid var(--color-border);

  @include mq($from: mobile) {
    padding: 15px 0;
  }

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}