/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  margin-right: 25px;

  &__link {
    display: block;
    font-size: $type-xl;
    font-weight: $type-700;
    line-height: 1;
    transition: color $global-faster-transition ease-in-out;

    @include attention() {
      color: var(--color-brand);
    }
  }

  &__img {
    max-height: 40px;
  }
}
