/*------------------------------------*\
  Components > Post Card
\*------------------------------------*/

.c-post-card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  margin-bottom: $space-32;
  overflow: hidden;
  border-radius: $global-border-radius;
  background-color: var(--bg-white);
  box-shadow: $global-shadow;

  &__media {
    overflow: hidden;
    background-color: var(--bg-gray-darker);
  }

  &__image-wrap {
    display: block;
    position: relative;
    padding-top: 56.25%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex-grow: 1;
    padding: $space-24;

    @include mq($from: desktop) {
      padding: $space-32;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    color: --header-color;
    font-family: $header-font;
    font-size: 1.9em;
    font-weight: unset;
    letter-spacing: -.3px;
    line-height: 1.1;
    transition: transition(all 1s, ease-out);

    @include mq($from: tablet) {
      font-size: $type--h-xs-lh;
    }

    @include mq($from: desktop) {
      font-size: $type--h-sm;
    }
  }

  &__excerpt {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: $space-8;
    overflow-y: hidden;
    color: var(--color-gray);
    font-family: $body-font-medium;
    font-size: 1.2em;
    font-weight: $type-500;
    line-height: $type-sm-lh;
  }

  &__meta {
    display: flex;
    z-index: 2;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: $space-16;
    padding-top: $space-16;
    border-top: .5px solid var(--color-border);
    font-size: $type-xs;
    font-weight: $type-500;
    letter-spacing: $global-letter-spacing;
    line-height: $type-xs-lh;
  }

  &__author {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    white-space: nowrap;

    @include attention() {
      .c-post-card__author_name {
        color: var(--color-text);
      }
    }

    &_name {
      font-weight: $type-600;
      transition: color $global-faster-transition;
    }
  }

  &__date {
    color: var(--color-gray);
    font-size: $type-xs;
    font-weight: $type-500;
    line-height: $type-xs-lh;
  }

  &__author_media {
    width: $space-32;
    height: $space-32;
    margin-right: $space-8;
    border-radius: 100%;
    background-color: var(--bg-gray);
  }

  &__author_image {
    width: $space-32;
    min-width: $space-32;
    height: $space-32;
    object-fit: cover;
    border-radius: 100%;
  }

  .primary-tag {
    padding: 6px;
    border-radius: 3px;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    line-height: $type-single-line-height;
    transition: 0.2s all ease-out;

    &:hover {
      background: white;
      cursor: pointer;
    }
  }
}
