/*------------------------------------*\
  Components > Social Icons / Footer
\*------------------------------------*/
.sidebar-social-widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  svg {
    color: #a1adc6;
  }

  button {
    -webkit-appearance: none !important;
    padding: unset;
    border: 0 !important;
    outline: none !important;
    background: none !important;
    font-size: 1.8em;
    transition: $transition;
    min-width: 38px;
    display: flex;
    justify-content: center;
    @media(max-width: 1000px) {
      font-size: 1.7em;
    }

    &:hover {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      cursor: pointer !important;

      &.medium svg,
      &.medium {
        color: lighten($medium-color, 10%) !important;
      }

      &.facebook svg {
        color: lighten($facebook-color, 20%) !important;
      }

      &.twitter svg {
        color: lighten($twitter-color, 10%);
      }

      &.angellist,
      &.github svg {
        color: lighten($github-color, 10%) !important;
      }

      &.rss svg {
        color: lighten($rss-color, 20%) !important;
      }

      &.feedly svg {
        color: #60d293 !important;
      }

      &.pocket svg {
        color: lighten(#f14861, 10%) !important;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
