/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.tags {
  margin-bottom: - $space-8;
  overflow: hidden;

  @include mq($from: tablet) {
    margin-bottom: - $space-16;
  }

  a {
    @include post-tag-footer;
  }
}
