// *----------------------------------*\
//  Settings > Breakpoints
// *----------------------------------*/
// Breakpoints configs for SassMQ
//
// Example usage:
//
// @include mq($from: tablet) {}
$smallmobile: 400px;
$mobile: 500px;
$tablet: 800px;
$smalldesktop: 1000px;
$desktop: 1000px;
