/*------------------------------------*\
  Components > Post
\*------------------------------------*/
.post {
  > * + * {
    margin-top: $space-32;
  }
}

.post-wrapper {
  position: relative;
  max-width: 850px;
  margin: 0 auto;

  .post {
    position: relative;
    margin: 60px 0 30px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(39 44 49 / 15%);

    .post-roundup-blurb {
      @include lynx-roundup-blurb;
    }

    .intro-notice {
      @include post-intro-notice;
    }

    p {
      @include paragraph;
    }

    li > code,
    p > code {
      @include inline-code;
    }
  }
}