/*------------------------------------*\
  Components > Post
\*------------------------------------*/
.post {
  > * + * {
    margin-top: $space-32;
  }
}

.post-wrapper {
  position: relative;
  max-width: 850px;
  margin: 0 auto;
  @media (max-width: 800px) {
    width: 100%;
    max-width: unset;
  }

  .post {
    position: relative;
    margin: 0 0 30px;
    background: #fff;
    box-shadow: 0 1px 4px rgb(39 44 49 / 15%);
    @media (max-width: 800px) {
      margin: 0;
    }

    .intro-notice {
      @include post-intro-notice;
    }

    p {
      @include paragraph;
    }

    li > code,
    p > code {
      @include inline-code;
    }
  }
}