/*------------------------------------*\
  Components > Post Hero
\*------------------------------------*/
.post-card__image-wrap {
  position: relative;
  background-color: var(--bg-gray-darker);
  box-shadow: -8px 16px 24px -8px rgba(0, 0, 0, .08);
}

.post-image {
  width: 100%;
  object-fit: cover;
  transition: $transition;

  &:hover {
    opacity: .7;
  }
}

.post-header {

  &__details {
    padding: 30px 50px 0;
  }

  &__title {
    @include post-title();
  }

  &__excerpt {
    margin: 0 0 10px;
    color: var(--color-gray);
    font-size: 1.2em;
  }

  &__meta {
    margin-top: $space-16;
    font-size: $type-xs;
    line-height: $type-xs-lh;
    letter-spacing: $global-letter-spacing;
    letter-spacing: $global-letter-spacing;

    @media (max-width: 800px) {
      display: flex;
      align-items: center;
    }
  }

  &__author {
    display: flex;
    align-items: center;

    @include attention() {
      &__author_name {
        color: var(--color-text);
      }
    }

    &_name {
      font-weight: $type-600;
      transition: color $global-faster-transition;
    }
  }

  &__date {
    font-size: $type-xs;
    line-height: $type-xs-lh;
  }

  &__author_media {
    width: $space-32;
    height: $space-32;
    border-radius: 100%;
    margin-right: $space-8;
    background-color: var(--bg-white);
  }

  &__author_image {
    width: $space-32;
    height: $space-32;
    object-fit: cover;
    border-radius: 100%;
  }
}